extends layout

block content

	.row
		.col-lg-12
			h1(class="page-header")=title
				a(href="/admin/activitys", class="btn btn-warning") back

	.row
		.col-lg-4
			form(action="/admin/activitys/activity_details/update", method="post", class="form-group")
				label name
				input(type="text", class="form-control", name="name", value=activity_detail.name)
				label area
				input(type="text", class="form-control", name="area", value=activity_detail.area)
				label activity_date
				input(type="text", class="form-control", name="activity_date", value=activity_detail.activity_date)
				label location
				input(type="text", class="form-control", name="location", value=activity_detail.location)
				label google_url
				input(type="text", class="form-control", name="google_url", value=activity_detail.google_url)
				label 人數上限							
				input(type="number", class="form-control", name="number_of_people", min="0", max="1000" value=activity_detail.number_of_people)				
				input(type="hidden" name="activity_detail_id" value=activity_detail.id)
				input(type="submit", class="btn btn-success btn-outline" style="margin: 1em", value="更新")
		.col-lg-1
		.col-lg-6
			.panel.panel-default
				.panel-heading(style="display: flex; justify-content: space-between; align-items: center;") member list
					form(action="/admin/activitys/activity_details/csv", method="post")
						input(type="hidden" name="activity_detail_id" value=activity_detail.id)
						input(type="submit", class="btn btn-info btn-outline" style="margin: 1em", value="匯出")
				.panel-body
					.table-responsive
						table(class="table")
							thead
								tr
									th #
									th 公司
									th 姓名
									th 電話
									th 信箱
							tbody				
								- var n = 1
								each member in members
									tr
										td
											label
												=n++
										td 
											label 
												=member.company_name
										td
											label
												=member.name
										td
											label
												=member.phone
										td
											label
												=member.email